/* START - CSS common to the whole website */
/* ******************************* */

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.homeHeader {
    min-height: 800px;
    background-image: url("./images/homapage-banner-img.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

main {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.heading--grey {
    color: #282828;
}

.heading--white {
    color:white;
}

h1 {
    /* font-size: TO BE CHOSEN FROM POPPINS STYLES */
    /* font-family: TO BE CHOSEN FROM POPPINS STYLES */
}

h2 {
    /* font-size: TO BE CHOSEN FROM POPPINS STYLES */
    /* font-family: TO BE CHOSEN FROM POPPINS STYLES */
}
h3 {
    /* font-size: TO BE CHOSEN FROM POPPINS STYLES */
    /* font-family: TO BE CHOSEN FROM POPPINS STYLES */
}

p {
 color: #444444;
}

/* Buttons */
.button {
    font-weight:bold;
}

.button--purple {
    background-color: #8121e0;
    color:white;
    border:#8121e0 1px solid;
}

.button--white {
    background-color: white;
    color:black;
    border: black 1px solid;
}


/* ******************************* */
/* END - CSS common to the whole website */

/* Header style */
/* ************ */
/* NB : mobile first */
/* Image for all pages except index that have its dedicaced css file */
header {
    background-image: url("./images/banner-img.jpg");
    text-transform: uppercase;
}

header li {
    list-style: none;
}

header a, 
header h1,
header h2,
header h3,
header p {
    color: white;
}

header a {
    text-decoration: none;
}

/* .header__ stand for elements depending of header in this case, even if header is a tag instead of a class */
/* __menu is hamburger menu for mobile screen */
.header__menu {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
    /* Positionings content with flex */
    display: flex;
    flex-direction: row;
    /* Allow elements to wrap, pushing logo and links menu to bottom of openned pages menu */
    flex-wrap: wrap;
}

/* Effects on all elements directly children of the class */
.header__menu>* {
    font-size: larger;
    font-weight: bolder;
}

/* Refer to hn and p showing as head of the pages, not litteral hn headings */
.header__title {
    height: 150px;
    text-align: center;
    /* Alignment */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Second hamburger menu */
.header__social-menu {
    /* Remove apparent background and border */
    background-color: transparent;
    border: none;
    /* Center vertically */
    align-self: center;
    /* margin-left auto will push this flexed element fully to the right */
    margin-left: auto;
    width: auto;
}

.header__sub-menu__logo-svg {
    /* svg size */    
    width: auto;
    height: 2em;
}

/* Angerone's logo */
#header-logo {
    display: inline-block;
}

#header-logo>img {
    max-height: 40px;
    /*min-width: 40px; */
    text-align: center;
    margin-right: 20px;
}


#header__a--pages-menu>img,
#header__a--social-menu>svg {
    max-height: 30px;
}

#header-logo, 
#header-pages-wrap,
#header-social-wrap {
    width: auto;
    /* Center vertically */
    align-self: center;  
}

/* Hamburger menu */
/* Source : https://codepen.io/benoitwimart/pen/ORPmrg/ */
    
/* ul with links */
#header__ul--pages, #header__ul--social {    
    /* Flex */
    display: flex;
    justify-content: space-evenly;
}

/* Shown and effective when screen is 1024px or below */
@media only screen and (max-width: 1024px) {
    #header__ul--pages {
        font-size: small;
    }

    #header-social-wrap {
        font-size: x-large;
    }


    /* Change #wrap bloc size and display when menu is not clicked*/
    #header-pages-wrap:not(:target)  {
        /*transform: translate3d(-335px, 0, 0);*/
        width: 50px; /* Restrict size so other elements come next to it */
        display: inline-block;
    }

    #header-social-wrap:not(:target) {
        margin-left: auto;
    }
    
    /* This bloc make content disapear when menu unclicked*/
    #header-pages-wrap:not(:target) #header__ul--pages,
    #header-social-wrap:not(:target) #header__ul--social {
        display: none;
    }

    /* Display pages menu when menu clicked */
    #header-pages-wrap:target {
        width: 100%;
        margin-top: 40px;
        /* Flex positioning content */
        display: flex;
        justify-content: space-around;
    }

    /* When clicked, lists take all width */
    #header-pages-wrap:target>#header__ul--pages {
        width: 100%;
    }
    /* Display links menu when clicked */
    #header-social-wrap:target {
        width: 100%;
        margin-top: 40px; 
        /* Flex positioning content */
        display: flex;
        justify-content: space-around;
    }
    
    #header-social-wrap:target>#header__ul--social {
        width: 100%;
    }
    
    /* Styling buttons */
    /* 
    #header__a--pages-menu,
    #header__a--pages-close,
    #header__a--social-menu,
    #header__a--social-close 
    */ 
    .header__a--menu {
        /* Flex */
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    
    /* Buttons display conditions */
    #header-pages-wrap:target #header__a--pages-menu,
    #header-social-wrap:target #header__a--social-menu,
    #header-pages-wrap:not(:target) #header__a--pages-close,
    #header-social-wrap:not(:target) #header__a--social-close {
        display: none;
    }
    
    #header-pages-wrap:target #header__a--pages-menu 
    #header-social-wrap:target #header__a--social-menu {
        display: none;
    }
}


/* Responsive header */
/* Desktop screen and above */
@media only screen and (min-width: 1025px) {
    .header__menu {
        font-size: small;
        justify-content: space-evenly;   
        flex-wrap: nowrap;  
        background-color: transparent;   
    }

    .header-nav {
        display: flex;
        width: auto;
    }

    /* Hidding hamburger's buttons */
    .header-nav, #header__a--social-menu {
       visibility: hidden;
    }

    /* Showing hamburger's menus as normal menus */
    #header__ul--pages, 
    #header__ul--social {
        visibility: visible;
        justify-content: space-around;
        width: auto;
    }


    #header__ul--pages {
        min-width: 450px;
    }

    #header__ul--social {
        min-width: 250px;
    }

    #header-logo {
        /* Changing order to get logo first */
        order: -1;
    } 

    /* #header__ul--pages {
        display: inline;
    } */
}

/* FOOTER */

footer {
    background-color: #282828;
    padding: 3em;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow:hidden;
}


/* FOOTER LINK TO THE PAGES */

a {
    color: white;
    text-decoration: none;
}

.linkpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    align-content: space-between;
    /* margin: 2em; */
}


/* FOOTER LINK TO SOCIAL MEDIAS */

.linksocial {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.socialfooter {
    width: 1.5em;
    height: 1.5em;
    color: white;
    border-radius: 50%;
    background: #444444;
    padding: 2em;
    margin: 0 1em;
    box-sizing: unset;
}


/* FOOTER BACK-TO-TOP BUTTON */

.topbutton {
    border-radius: 15%;
    background: #8121e0;
    width: 1.5em;
    height: 1.5em;
    padding: 1em;
    text-align: center;
    line-height: 2em;
    position: fixed;
    bottom: 2em;
    right: 2em;
    box-sizing: unset;
}

.uparrow {
    width: 1em;
}

html {
    scroll-behavior: smooth;
}


/* FOOTER COPYRIGHT */

p {
    color: #444444;
}

/* FOOTER MEDIA QUERIES */

@media only screen and (max-width: 768px){

    .socialfooter{
        padding: 1em;
    }

    footer{
        padding-bottom: 10em;
    }

}



/* Page about */
/* ********** */

/* Main container */
.about {
    background-color: white;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.about__p {
    margin-bottom: 10px;
    color: #444444;
}

.about__h1 {
    font-size: x-large;
    font-weight: bolder;
}

/* svg logos */
.about__svg--logo {
    height: 1em;
    width: auto;
    margin-right: 10px;
}

.about__svg--logo--black {
    color: black;
}

.about__svg--logo--grey {
    color: #cfcfcf;
}

.about__hr {
    border: none;
    border-top: 0.12em solid #cfcfcf;
    width: 20%;
    position: relative;
    margin: 20px;
    margin-left: 0;
}

/* Sections class */
.about__section {
    padding-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.about__section--links {
    padding-left: 5%;
    padding-right: 5%;
}

.about__section--links a {
    margin-top: 10px;
    margin-right: 15px;
}

.about__section--music {
    background-color: #f5f5f5;
    text-align: center;
}

.about__section--music p {
    margin-left: 5%;
    margin-right: 5%;
}

.about__section--latest {
    text-align: center;
}

/* Articles */
.about__article {
    padding-right: 0;
    padding-left: 0;    
}

.about__article>* {
    margin-bottom: 10px;
}

.about__article--music {
    padding: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* button contact */
.about__button--contact {
    width: 150px;
    height: 4em;
    text-transform: uppercase;
    margin: 10px;
    border: none;
    border-radius: 4px;
    background-color: #8121e0;
    color: white;
    font-weight: bolder;
}

/* Images in music section */
.about__img--music {
    width: 50px;
    height: auto;
}

.about__article--latest img {
    width: 80%;
}

/* Sections ids, unique elements */

/* Images */
/* img signature */
#about-img-signature {
    position: relative;
    left: 60%;
    margin: 10px;
}

/* Angerone's img */
#about-img-angerone {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
}

/* Responsive */
/* Tablet screen and below */
@media only screen and (min-width:1024px) {

    #about-links-left {
        grid-area: left;
    }

    #about-img-angerone {
        grid-area: img;
    }

    /* About articles */
    .about__article {
        /* Forcing article title taking a whole row */
        min-width: 100%;
    }

    .about__article--links {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas: 
            "left img";
        column-gap: 20px;
        row-gap: 20px;
    }

    .about__article--music {
        /* Positioning music articles by 3 columns, 2 rows */
        min-width: 33%;
        max-width: 33%;
        /* Content positioning */
        text-align: left;
        display: grid;
        grid-template-columns: 75px auto;
        grid-template-rows: 75px auto;
        grid-template-areas: 
            "img h3"
            "img p";
    }

    .about__article--music img {
        margin-right: 20px;
        grid-area: img;
    }

    /* About music section */
    .about__section--music {
        display: flex;
        flex-wrap: wrap;
        padding-left: 50px;
        padding-right: 50px;
    }

    .about__article--music h3 {
        grid-area: h3;
    }

    .about__article--music p {
        grid-area: p;
        margin: 0;
    }

    /* About latest section */
    .about__section--latest {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .about__h1--latest, .about__p--latest {
        min-width: 80%;
        margin-bottom: 20px;
    }

    .about__article--latest {
        display: inline-block;
    }

    .about__article--latest {
        width: 33%;
        height: auto;
    }

    .about__article--latest figure {
        height: 100%;
    }

    .about__article--latest img {
        width: 80%;
    }
}

/* Page tour schedule */
/* **************** */

.tour__section {
    margin: 40px;
}

.tour__nav {
    background-color: black;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 15px 15px 0 0;
}

.tour__button--calendar {
    border:none;
    background-color: inherit;
    height: 3em;

    /* Text style */
    color: #444444;
    font-size: larger;
    font-weight: 1000;
    text-transform: uppercase;
}

.tour__button--calendar:hover {
    color: white;
    border-bottom: 4px solid #8121e0;
}

/* .tour__section--calendar {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, auto);
} */

.tour__section--calendar a {
    color: black;
}

.tour__calendar__article {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tour__calendar__article *{
    margin: 10px;
}

.tour__calendar__article--row2 {
    grid-column: 2;
}

/* Responsive */
/* Desktop screen and above */
@media only screen and (min-width:1025px) {
    .tour__nav {
        height: 125px;
        flex-direction: row;
        justify-content: center;
    }

    .tour__button--calendar {
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
    }

    .tour__calendar__article {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .tour__calendar__article a {
        align-self: flex-end;
    }
}


/* START HOMEPAGE STYLES */
/*************************/

/* MOBILE-FIRST DESIGNS (I.E. TABLET AND DESKTOP RESPONSIVENESS TO BE SPECIFIED FURTHER WITH @MEDIA QUERIES*/
.player {
    /* EXACT WIDTH AND PADDING TO BE MEASURED ON DESIGN SCREENSHOT */
    width:100%;
    padding:1em;
    display:flex;
    flex-direction: column;
    /* REMOVE BACKGROUND COLOR FOR FINAL VERSION !*/
    /*BACKGROUND COLOR SET TO RED WITH 50% TRANSPARENCY TO MAKE .player__heading and .player__song white texts visible in static position*/
    background-color: rgba(255, 0, 0, 0.5);
    position:relative;
    /* EXACT RELATIVE POSITION TO BE MEASURED ON DESIGN SCREENSHOT */
    bottom:5em;
}
.player__heading {
    color:white;
}
.player__song {
    color:rgba(255, 255, 255,0);

    -webkit-text-stroke: 0.5px white;
    /* workaround in case webkit won't work.
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    */
}

.countdown {
    /* EXACT WIDTH AND PADDING TO BE MEASURED ON DESIGN SCREENSHOT */
    width:90%;
    padding: 1.5em 1em;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    /* FIND BACKGROUND IMAGE AND INSERT URL
    background-image:url(images/)
    IN THE MEANTIME, BACKGROUND COLOR IS USED*/
    background-color:#282828;
    position:relative;
    /* EXACT RELATIVE POSITION TO BE MEASURED ON DESIGN SCREENSHOT */
    bottom:5em;
    border-radius:10px;
    text-align: center;
}

.countdown__timer {
    /* EXACT WIDTH AND PADDING TO BE MEASURED ON DESIGN SCREENSHOT */
    width:90%;
    padding:1em;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.countdown__button {
    /* EXACT WIDTH AND PADDING TO BE MEASURED ON DESIGN SCREENSHOT */
    width:100%;
    padding:2em;
    font-size:150%;
    border-radius:10px;
}

.countdown h1, .countdown p  {
    /* EXACT WIDTH AND PADDING TO BE MEASURED ON DESIGN SCREENSHOT */
    padding:0.5em;
    color:white;
}

.countdown h1 {
    font-size: 200%;
}

.homepage__articles {
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    
}

.clearfix {
    overflow:auto;
}

.homeAbout {
    width:90%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.homeAbout__image {
    margin: 0 0 1em 0;
    border-radius:10px;
}


.homeDisco {
    width:100%;
    padding:5em;
    background-image:url(images/homepage-latest-releases-background.jpg);
    background-repeat: none;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.homeDisco__description {
    width:100%;
    padding:2em;
    color:white;
    font-size:150%;
    text-align:center;
}

.homeDisco__button {
    /* EXACT WIDTH AND PADDING TO BE MEASURED ON DESIGN SCREENSHOT */
    width:100%;
    padding:2em;
    font-size:150%;
    border-radius:10px;
}

.homeReleases {
    width:100%;
}
.homeReleases__description {
    width:100%;
    padding:2em;
    text-align: center;
}

.homeReleases__albums {
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}

.relaseAlbums__album {
    padding:1em;
    text-align: center;
    
}
.homeFanbase {
    width:100%;
    padding:2em;
    /* FIND BACKGROUND IMAGE AND INSERT URL
    background-image:url(images/)
    IN THE MEANTIME, BACKGROUND COLOR IS USED*/
    background-color:#282828;
}

.homeFanbase__gallery {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

.homeFanbase__benefits {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.fanbaseGallery__image {
    border-radius:10px;
}

.fanbaseBenefits__list {
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.benefitList__element {
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
}


.homePartners {
    width:100%;
    min-height: 20em;
    padding:2em;
    background-image: url(images/homepage-sponsors-background.jpg);
    background-repeat: none;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.homePartners__list {
	overflow: hidden;
}

.partnersList__slider {
    display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
    justify-content: center;
    transition: transform 0.7s ease-in-out;
}

.partnerList__slider {
    transform:translate(-100px);
}

.partnersList__item {
	width: 100%;
	flex-shrink: 0;
}

.homeTickets {
    width:100%;
    overflow:hidden;

}

.homeTickets__grid {
    display:flex;
    flex-direction:row;
    justify-content: center;
    transition: transform 0.7s ease-in-out;
}

.homeTickets__grid:hover {
    transform:translate(50%);
}

.ticketGrid__item {
    text-align: center;
    padding:2em;
}

.homeGallery {
    width:100%;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content: center;
}

.homeGallery_image {
    width:100%;
}

.homeNews {
    width:100%;
    padding:2em;
    overflow:hidden;
    
}
.homeNews__heading {
    text-align:center;
}

.homeNews__list {
    width:100%;
    margin:auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.newsList__item {
    padding:2em;
}

.newsList__item--grey {
    color: #282828;
}

.newsList__item--white {
    color:white;
    border-radius: 10px;
    background-image:url(images/homepage-news-background.jpg);
    background-repeat: no-repeat;
}

.newsList__date {
    display:inline-block;
    border-radius:5px;
    padding:0.5em 1em;
    color:white;
    background-color:#8121e0;
}

.homeNewsletter {
    width:100%;
    padding:2em;
    text-align: center;
    background-image:url(images/homepage-footer-background.jpg);
    background-repeat: no-repeat;

}

.homeNewsletter__form {
    width:100%;
    padding:2em;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsletterForm__input, .newsletterForm__button {
    padding:2em;
    border-radius: 10px;
}


/* RESPONSIVENESS TO TABLET WIDTH (480px < Width) */
@media only screen and (min-width:481px) {

    .homeAbout {
        width:80%;
        display:flex;
        flex-direction: row;
    }

    .homeAbout__image {
        margin: 0 1em 1em 0;
    }

    .homeFanbase__gallery {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    .benefitList__element {
        flex-direction: row;
        text-align: left;
    }

    .homeGallery {
        flex-direction:row;
        flex-wrap:wrap;
    }
    
    .homeGallery_image {
        width:auto;
        flex:auto auto auto;
    }

    .homeNewsletter__form {
        width:70%;
        flex-direction: row;
    }


}

/* RESPONSIVENESS TO DESKTOP WIDTH (769px < Width) */
@media only screen and (min-width:769px) {
    .player {
    /* EXACT WIDTH TO BE MEASURED ON DESIGN SCREENSHOT */
        width:80%;
    }

    .countdown {
        padding:2em;
        width:80%;
        display:grid;
        grid-template-columns: 1fr 2fr 1fr;
        /* EXACT RELATIVE POSITION TO BE MEASURED ON DESIGN SCREENSHOT */
        bottom:5em;
    }

    .homeAbout {
        width:80%;
        display:flex;
        flex-direction: row;
    }

    .homeAbout__image {
        margin: 0 1em 1em 0;
    }

    .homeFanbase {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .fanbaseBenefits__list {
        flex-direction: column;
        flex-wrap:nowrap;
    }

    .homeNews__list {
        width:80%;
    }

    .homeNewsletter__form {
        width:50%;
    }

}

/* END HOMEPAGE STYLES */
/*************************/
